[submodule "include/libs/stb"]
	path = include/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "include/libs/cgltf"]
	path = include/libs/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
